#header {
    background: #15151f;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}

#header h1 {
    position: absolute;
    left: 4rem;
    top: 50%;
    transform: translatey(-50%);
    z-index: 11;
}

#header h1 img {
    width: 200px;
}

#header [class^="Wallet_"] {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translatey(-50%);
    display: flex;
}

#header [class^="head_side_"] img {
    width: 23px;
}