@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
    --bgtime: 160s;
  
    /* brand hues */
    --brand-h: 341.6;
    --indigo-h: 222.2;
    --navy-h: 210.9;
    --teal-h: 184.9;
    --brown-h: 356.3;
    --salmon-h: 7.8;
    --dark-h: 210;
    --base1-h: 165;
    --base2-h: 195;
  
    /* compiled defaults */
    --bg: hsl(0, 0%, 100%);
    --fg: hsl(0, 0%, 0%);
    --brand: hsl(var(--brand-h), 100%, 44.7%);
    --indigo: hsl(var(--indigo-h), 37.4%, 19.4%);
    --navy: hsl(var(--navy-h), 49.7%, 39%);
    --teal: hsl(var(--teal-h), 19.4%, 62.5%);
    --brown: hsl(var(--brown-h), 13.1%, 23.9%);
    --salmon: hsl(var(--salmon-h), 100%, 72.7%);
    --dark: hsl(var(--dark-h), 33.3%, 9.4%);
    --base1: hsl(var(--base1-h), 6.6%, 76.1%);
    --base2: hsl(var(--base2-h), 4.4%, 82.4%);
  }
  
  body {
    overflow: hidden;
    background-color: hsl(var(--base2-h), 4.4%, 92.4%);
    height: 100vh;
    background-image: linear-gradient(var(--brand) -20%, var(--indigo) 120%);
  }
  
  svg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  #bgart circle {
    fill: transparent;
    stroke: url(#bggrad);
    stroke-linecap: round;
    animation: bgmove 170s linear infinite;
  }
  
  #bggrad [offset="0%"] {
    stop-color: var(--brand);
  }
  
  #bggrad [offset="100%"] {
    stop-color: var(--salmon);
  }
  
  @keyframes bgmove {
    0% {
      stroke-dashoffset: 1000;
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  }
  .outfit-logo {
    color: var(--bg);
    mix-blend-mode: difference;
  
    position: absolute;
    display: block;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    pointer-events: none;
  }

  h2 {
    pointer-events: none;
    text-align: Center;
    color: white;
    font-family: sans-serif;
    position: relative;
    z-index: 999;
    user-select: none;
  }

  nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  #nav-1 {
    background: #3fa46a;
  }
  #nav-2 {
    background: #5175C0;
  }
  #nav-3 {
    background: #EEA200;
  }
  .link-3:hover {
    background-color: #ffffff;
    color: #EEA200;
    padding: 24px 10px;
  }

  button {
    margin: auto;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  /* 7 */
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }

  
  p {
    pointer-events: none;
    text-align: Center;
    color: white;
    font-family: sans-serif;
    position: relative;
    z-index: 999;
    user-select: none;
  }